@import url('common.css');

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 80px 0;
}

header > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {}

header h1 a {}

header h1 a img {}

header > div div > a {
    color: #fff;
    position:relative;
    display:inline-block;
}
header > div div > a:after {
    content:'';
    position:absolute;
    right:-10px; top:50%;
    transform: translateY(-30%);
    
    width:0;height:0;
    border:3px solid transparent;
    border-top:5px solid #fff;
}
header > div div{
    position:relative;
}
header > div div ul {
    display: none;
    position:absolute;
    background:#fff;
    padding:0 10px 10px 10px;    
}

header > div div ul li {}
header > div div ul li a {
    font-size:.6em;
    display:inline-block;
    padding:0 10px 10px 10px;
}
header > div div ul li a:hover {
    text-decoration: underline;
}
header > div div:hover ul{display:block;}


/*menu-trigger*/
.menu-triger {
    width: 26px;
    height: 16px;
    position: relative;
}
.menu-triger span {
    position: absolute;
    left: 0; 
    background: #fff;
    width:100%; height:2px;
}
.menu-triger span:nth-of-type(2){
    top:50%; transform: translateY(-50%);
}
.menu-triger span:nth-of-type(3){
    bottom:0;
}







